*{
    margin: 0;
    padding: 0;
}

  
     
.calc{
    margin: 0 auto;
    /* width: 350px; */
    border-radius: 10px;
    text-align: center;
    position: relative;
    /* top: 50px; */
}



.inp{
width: 220px;
height: 80px;}